<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/asset/style.css">
    <script src="../src/asset/script.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <section class="salawal">
                
            <div id="bayag" class="bayag">
               
            </div>
            <div class="itlog1">
            
            </div>
            <div class="itlog2">
               
            </div >
        </section>
    </div>
    <div id="pangBomba" class="pangBomba ">
        <div id="bomba" class="pusher">
           <div class="horizontal">
           </div>
           <div class="vertical">
           </div>
        </div>
        <div class="katawab">
        </div>
    </div>
</body>
</html>